*{
    box-sizing: border-box;
    margin: 0;
}
.blue{
    background-color: #3A9CED;
}
.white{
    background-color: white;
}
.fontwhite{
    color: white;
}
.fontgrey{
    color: grey;
}
body{
    background-color: #F3F6F8;
}
/* intestazione */
header{
    line-height: 120px;
}
header #logo{
    height: 100px;
    vertical-align: middle;
    margin: 0 10px;
}
header .titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;

}
/* fine intestazione */
/* corpo principale */
main{
    width: 50%;
    margin: 20px auto;
}
main .bar{
    height: 50px;
    border-bottom: 1px solid #F3F6F8;
    line-height: 50px;
    padding-left: 40px;
}
main .bar button{
    height: 30px;
    border-radius: 5px;
}
main .bar .bottone1{
    border: 0;
}
main .bar .bottone2{
    border: 1px solid grey;
}
main .corpo{
    padding: 40px;
}
main .corpo ul{
    list-style-type: none;
    padding-left: 0;
}
ul .title-li{
    font-size: 24px;
    font-weight: bold;
}
li{
    margin: 5px 0;
}

/* fine corpo principale  */








